<div class="col-lg-10 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">Booking Confirmation</h4>
    </div>
    <div class="card-body">
      <h1>Greetings from Event Management</h1>
      <h3>Hello <%= @user.full_name %></h3>

      <p class="lead">Your Booking for <strong><%= @event.title %></strong> has been confirmed. Please find the booking details below</p>
      
      <div><%= @svg.html_safe %></div>
    </div>
  </div>
</div>